$azul_primario: #0069c0;
$azul_secundario: #01569b;
$azul_claro: #2f8bd6;
$morado_primario: #7f00b2;
$morado_secundario: #ab3ed8;
$blanco_primario: #ffffff;

body {
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}